h1 {
    font-family: 'Cinzel Decorative', cursive;
font-size: 50px;
    color: #D3D3D3;
}

h3 {
    font-family: 'Cinzel Decorative', cursive;
font-size: 25px;
    color: #D3D3D3;
    text-align: right;
}

body {
    background-color: black;
  }
  
P {
    color: #D3D3D3;
}

hr {
    border: 1px solid #C34040ed;
   
}

#questions-display {
    color: #D3D3D3;
    
}
.radio {
    color: #D3D3D3;
}